</main>


<nav>
     <a href="/" id="home"><p> Home</p></a>
     <a href="/about" id="about"><p> About</p></a>
     <a href="/people" id="people"><p> People</p></a>
     <a href="/vehicles" id="vehicles"> <p>Vehicles</p></a>
     <a href="/planets" id="planets"> <p>Planets</p></a>
     <a href="/starships" id="starships"><p> Starships</p></a>
     <!-- <a href="/Movies"> <p>Movies</p></a>
     <a href="/Species"> <p>Species</p></a> -->
</nav>
<script>
 if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js')
        .then(function(registration) {
          return registration.update();
        })
    });
  }
</script>
</body>

</html>