</main>


<nav>
     <a href="/people" id="people"><p> People</p></a>
     <a href="/vehicles" id="vehicles"> <p>Vehicles</p></a>
     <a href="/planets" id="planets"> <p>Planets</p></a>
     <a href="/starships" id="starships"><p> Starships</p></a>
     <!-- <a href="/Movies"> <p>Movies</p></a>
     <a href="/Species"> <p>Species</p></a> -->
</nav>

<script src="/../sw.js"></script>
</script>
</body>

</html>