</main>


<nav>
    <p> <a href="/persons"> Persons</a></p>
    <p> <a href="/Vehicles"> Vehicles</a></p>
    <p> <a href="/Planets"> Planets</a></p>
    <p> <a href="/Movies"> Movies</a></p>
    <p> <a href="/Starships"> Starships</a></p>
    <p> <a href="/Species"> Species</a></p>
</nav>


</body>

</html>