<%- include('partials/head') %>

<h1> About this app</h1>
    <section class="textPage"> 
        <p> This app has alot of information about star wars and even caches some pages </p>
</section>

<%- include('partials/footer') %>