body nav p { color: #000;}

nav a {
	width: 25%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 100%;
	background-color: #000;
	position: fixed;
	bottom: 0;
}
.active,
nav a:hover{ background-color: #000; color: #fff;}
nav a:hover > p{color: #fff;}
nav a{
	text-decoration: none;
	color: #000;
}