@font-face {
	font-family: 'MyWebFont';
	src: 
	 url('/css/DeathStar.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  h1, h2, h3, b, a, nav p{
	  font-family: "MyWebFont";
  }

  *{
	font-family: 'Open Sans', sans-serif;
  }

h1 { color: #fff; font-size: 2em; text-align: center;}

body {
	background-color: #000;
	background: url("/img/bg.jpg");
	background-size: cover;
	background-position: cover;
	margin: 0;
}
.textPage p{
  color: #fff;
  text-align: center;
}

.details article,
section a {
    border: 2px solid #fff;
    width: calc(20% - 2em);
    margin: 1em;
    color: #fff;
	padding: 1em;
  text-decoration: none;
  box-sizing: border-box;
}
.button:hover,
section a:hover{
	border-color: #FFFF00 ;
}

.details article{
	width: unset;
}

article ul {
	padding: 0;
}

article li {
    list-style: none;
    margin: .5em 0;
}


body main section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

body .button {
    color: #fff;
    border: 2px solid #fff;
    padding: 1em;
    text-decoration: none;
    position: relative;
    top: 100px;
    display: block;
    width: 20%;
    margin: auto;
    text-align: center;
}