@font-face {
	font-family: 'MyWebFont';
	src: url('STJEDISE.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	 url('STJEDISE.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

  *{
	  font-family: "MyWebFont";
  }
nav {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 100%;
	background-color: #000;
	position: fixed;
	bottom: 0;
}
h1{ color: #fff; font-size: 2em; text-align: center;}

nav a {
	width: 25%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active,
nav a:hover{ background-color: #000; color: #fff;}

nav a{
	text-decoration: none;
	color: #000;
}

body {
	background: url("/img/bg.jpg");
	background-size: cover;
	background-position: cover;
	margin: 0;
}

article {
	border: 2px solid #fff;
	text-align: center;
	width: calc(20% - 2em);
	margin: 1em;
	color: #fff;
}

article ul {
	padding: 0;
}

article li {
	list-style: none;
}

body main section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}